<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenqinghao.ordergoods.mapper.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.wenqinghao.ordergoods.domain.entity.OrderGoods">
    <!--@mbg.generated-->
    <!--@Table order_goods-->
    <result column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="o_spend" jdbcType="DOUBLE" property="OSpend"/>
  </resultMap>
  <sql id="Base_Column_List">
    o_id,g_id,quantity,o_spend
  </sql>

  <!---->
  <select id="getListGoodsByOId" resultMap="BaseResultMap">
    select g.g_id,g.quantity,g.o_spend
    from order_goods g
    where g.o_id = #{oId}
  </select>
  <select id="selectSpend" resultType="java.lang.Double">
    select o_spend from order_goods where o_id = #{oId} and g_id=#{gId}
  </select>
  <insert id="insertOrderGoods">
    <!--insert into -->
    <foreach collection="goods" item="og" >
      insert into order_goods(<include refid="Base_Column_List"></include>)
      values(#{og.OId},#{og.GId},#{og.quantity},#{og.OSpend});
    </foreach>
  </insert>


</mapper>