<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.wqh.project.picturecenter.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/picture-center/src/main/java" />
        <option name="javaModelPackage" value="com.wqh.project.picturecenter.domain.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/picture-center/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="picture-center" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="evaluate">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.wqh.project.evaluate.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/evaluate/src/main/java" />
                  <option name="javaModelPacakge" value="com.wqh.project.evaluate.domain.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/evaluate/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/evaluate/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/evaluate/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/evaluate/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="picture-center">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.wqh.project.picturecenter.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/picture-center/src/main/java" />
                  <option name="javaModelPacakge" value="com.wqh.project.picturecenter.domain.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/picture-center/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/picture-center/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="comment:evaluate">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="e_id" />
                  <option name="javaModelName" value="Evaluate" />
                  <option name="moduleName" value="evaluate" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="comment:picture">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="p_id" />
                  <option name="javaModelName" value="Picture" />
                  <option name="moduleName" value="picture-center" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/picture-center/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>